table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #1976d2;
  color: white;
}

td, th {
  padding: 8px;
  text-align: left;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
